/*
Begin Style Sheet
*/

header{
    margin:auto;
    border-radius:3em;
    border-style:solid;
    border-color:black;
    display:block;
    text-align:center;
    margin-bottom:10px;
}

body{
    background-color: rgb(42, 186, 243);
    margin-top: 1px;
    margin-bottom:1px;
    margin: 1px 2px 1px 2px;
    padding-top: 0.5px;
    padding-bottom:0.5px;
    padding: 0.5px 1px 0.5px 1px;
    border-style: hidden;
    border-color:pink;
    border-radius: 2px;
    border-width:3px;
    

}